<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="StdOut" target="SYSTEM_OUT">
      <PatternLayout pattern="%logger - %msg%n" />
    </Console>
    <File name="FileAppender" filename="output.log">
      <PatternLayout pattern="%logger - %msg%n" />
    </File>
  </Appenders>
  <Loggers>
   <!--  <Root level="error">
      <AppenderRef ref="StdOut" />
    </Root> -->
    <Logger name="ProjectLogger" level="trace">
      <AppenderRef ref="FileAppender" />
    </Logger>
    </Loggers>
</Configuration>
