<a href = "authenticate" id = "headingtext">
Bookworm </a>
	<div class	= "menubutton" id = "menuoptions">
		<i style = "padding: 40px;"class="fas fa-bars"></i>
			<div id = "menucontent">
				<a class="dropLink optiontext" href = "authenticate">
				<i class="fas fa-home menuicon"></i> Dashboard</a>
				<a class="dropLink optiontext" href = "userprofile">
				<i class="fas fa-user menuicon"></i>Profile</a>
				<a class="dropLink optiontext" href = "updatesearch">
				<i class="fas fa-edit menuicon"></i>Update Database</a>
				<a class="dropLink optiontext" href = "addbook">
				<i class="fas fa-book-open menuicon"></i>Add New Books</a>
				<a class="dropLink optiontext" href = "logout">
				<i class="fas fa-sign-out-alt menuicon"></i>Logout</a>
			</div>
	</div>		
